.btnStyle2 {
    font-size: 0.7em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}